/*
	READ THIS PLEASE!!
	You DO NOT want to make edits to this file.
	If you make edits to this file your layout will break
	when you upgrade the theme. Instead add your custom CSS to
	the style.css file in a child theme. Any new styles you add
	to the style.css in your Child Theme will automatically override
	this imported stylesheet.	 This will also make your life a whole
	lot easier when it comes time to upgrade the theme.
*/

/*Undo browser defaults
------------------------------------------------------------ */
:link,:visited { text-decoration: none; }
ul, ol { list-style: none; }
h1, h2, h3, h4, h5, h6, pre, code, p { font-size: 1em; }
ul, ol, dl, li, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input { margin: 0; padding: 0; }
a img, :link img, :visited img { border: none; }
address { font-style: normal; }

/*Body & Links
------------------------------------------------------------ */
body {
	font: 62.5% Arial,Helvetica,Sans-serif;
	color: #444;
	line-height: 2.2em;
	background: #f9f7f5;
	min-width: 960px;
}
a:link, a:visited { color: #4265a7; }
.entry a:link, .entry a:visited { font-weight: bold; }
a:hover { color: #993333; }
.home a.more-link {
  display: block;
}

/*Basic Structure
------------------------------------------------------------ */
.wrapper{
	width: 960px;
	margin: 0 auto;
	text-align: left;
}
#content{
	float: left;
	width: 648px;
	padding: 0 0 30px 0;
}
/* for a review we've got a wider area */
.hreview #content {
  width: 960px;
}
.content-background {
    background: url(../images/content-background.gif) repeat-x top left; 
}
#sidebar {
	float: right;
	padding-bottom: 30px;
	width: 266px;
}
#footer {
	clear: both;
	padding-top: 5px;
	border-top: 1px solid #ddd;
}
.clear:after, li.comment:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
div.skip-content { display: none; }

/*Header
------------------------------------------------------------ */
#header {
	width: 100%;
	border-bottom: 1px solid #ede7e0;
	background: #443B31 url(../images/nav-background.gif) repeat-x bottom left;
}
#follow {
	background: #2f2922;
	padding: 5px 0;
}
#follow dl {
	float: right;
	font-size: 1.3em;
}
#follow dl dt, #follow dl dd { float: left; }
#follow dt {
	font-weight: bold;
	color: #ad9b83;
}
#follow dd { margin-left: 20px; }
#follow dd a {
	display: block;
	color: #cfc4b6;
}
#follow dd a.rss { padding-left: 20px; background: url(../images/feed-icon.png) no-repeat 0 .2em; }
#follow dd a.email { padding-left: 22px; background: url(../images/email-icon.png) no-repeat 0 .35em; }
#follow dd a.twitter { padding-left: 19px; background: url(../images/twitter-icon.png) no-repeat 0 .15em; }
h1#title, div#title {
	float: left;
	position: relative;
	padding: 30px 0 36px 140px;
	font-size: 3em;
	font-weight: bold;
	line-height: 50px;
}
h1#title a:link, h1#title a:visited, div#title a:link, div#title a:visited { color: #e9e5e0; }
h1#title a:hover, div#title a:hover { text-decoration: none; }

#frame {
    border: 1px solid #ebebeb;
    background: #fff;
    padding: 8px 8px 24px;
    margin-right: 16px;
    position: absolute;
    top: -2px;
    left: 0;
    /* rotate the box */
    -webkit-transform: rotate(-9deg);
    -moz-transform: rotate(-9deg);
    -o-transform: rotate(-9deg);
    transform: rotate(-9deg);
    /* box shadow */
    -webkit-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
    -moz-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
    -o-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
    box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
}
/*Description
---------------------------------------*/
#description {
	margin: 35px 0 0 16px;
	float: left;
	color: #796957;
	font-size: 1.4em;
	font-weight: bold;
	line-height: 50px;
}

/*Nav
---------------------------------------*/
#nav {
	width: 100%;
	font-size: 1.3em;
}
#nav, #nav ul {
	float: left;
	line-height: 40px;
	padding: 0;
	margin: 0;
	width: 100%;
}
#nav a {
	display: block;
	color: #444;
	text-decoration: none;
	padding: 0px 20px;
}
#nav li {
	float: left;
	border-right: 1px solid #e3e0d5;
}
#nav:first-child { border-left: 1px solid #e3e0d5; }
#nav ul {
	position: absolute;
	left: -999em;
	height: auto;
	width: 151px;
	font-weight: normal;
	line-height: 20px;
	border: 0;
	border-top: 1px solid #e3e0d5;
}
#nav li li {
	width: 149px;
	border-bottom: 1px solid #e3e0d5;
	border-left: 1px solid #e3e0d5;
	border-right: 1px solid #e3e0d5;
	background: #f3efeb;
}
#nav li li li { border-left: none; }
#nav li li a {
	padding: 4px 10px;
	width: 130px;
}
#nav li ul ul { margin: -29px 0 0 150px; }
#nav li li:hover { color: #000; }
#nav li ul li:hover a, #nav li ul li li:hover a, #nav li ul li li li:hover a, #nav li ul li li li:hover a { color: #000; }
#nav li:hover a, #nav li.sfhover a { color: #000; }
#nav li:hover li a, #nav li li:hover li a, #nav li li li:hover li a, #nav li li li li:hover li a { color: #444; }
#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul, #nav li.sfhover ul ul ul ul { left: -999em; }
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul, #nav li li li li.sfhover ul { left:auto; }
#nav li:hover, #nav li.sfhover {
	background: #fff;
	color: #000;
}
#nav .current_page_parent, #nav .current_page_ancestor, #nav .current-cat-parent {
	background: #fff;
	color: #000;
}
#nav .current-cat, #nav .current_page_item {
	background: #fff;
	color: #000;
}

/*Notice
------------------------------------------------------------ */
div.notice {
	display: block;
	padding: 20px 0;
	font-size: 1.6em;
}
div.notice strong { color: #2f2922; }
div.notice div {
	margin: 10px 0;
	padding: 20px;
	background: #f0ebe6
}
div.notice div {
    background: url(../images/notice-background.gif) repeat-x top left;
}
div.notice div h2 {
	font-size: 1.3em;
	margin-bottom: 10px;
}

/*Page/Post Styling
------------------------------------------------------------ */
.post { margin-bottom: 30px; }
/* needs to be set width for when inside of a review */
.hreview .post {
  float: left;
	width: 648px;
}
/*Post Header
---------------------------------------*/
.post-header {
	border-top: 1px solid #efeae4;
	margin: 0 0 15px 0;
	padding-top: 20px;
}
.post-header h2 {
	font-size: 2em;
	line-height: 1.1em;
	margin-left: 131px;
}
div.post-header div.date {
	float: left;
	width: 114px;
	color: #beaa99;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	padding: 0 0 0 17px;
	background: url(../images/icon-calendar.png) no-repeat 0 .3em;
}
.date span { color: #e0c9b5; }
.date .category {
  display: block;
  font-size: 0.8em;
}
.author {
	margin: 3px 0 0 131px;
	color: #c0b2a5;
	font-size: 1.2em;
}
/*Post Body
---------------------------------------*/
.entry {
	margin: 0 0 0 131px;
	width: 497px;
	font-size: 1.3em;
}
.entry p { margin-bottom: 10px; }
.entry h2, .entry h3, .entry h4 {
	font-size: 1.3em;
	padding: 15px 0 5px 0;
}
.entry h3 {
	padding-top: 10px;
	font-size: 1em;
}
.entry h4, .entry h5, .entry h6 {
	padding-top: 10px;
	font-size: .9em;
}
pre {
	margin: 10px 0;
	padding: 1em 10px;
	overflow: auto;
	background-color: #e9ebd9;
	color: #000;
}
code {
	padding: 2px 3px;
	font: 1.1em Consolas, "Courier New", sans-serif;
	background-color: #e9ebd9;
	color: #000;
}
pre code { font-size: 1.3em; }
blockquote {
	display: block;
	margin: 20px 0 20px 20px;
	padding: 0 0 0 20px;
	border-left: 3px solid #cbcac8;
	color: #666;
	font-style: italic;
	line-height: 1.5em;
}
.entry ul, .c-body ul { margin: 0 0 10px 10px; }
.entry ul li, .c-body ul li {
	display: block;
	margin: 5px 0;
	padding: 0 0 0 17px;
	background: url(../images/list-item.gif) no-repeat 0 .3em;
}
/* when used within the related module */
#crp_related ul {
  overflow: hidden;
  zoom: 1;
}
#crp_related ul li {
  float: left;
  margin-right: 10px;
}
.entry ol, .c-body ol {
	list-style-type: decimal;
	list-style-position: inside;
	margin: 5px 0 5px 10px;
}
.entry ol li ol li, .c-body ol li ol li { list-style-type: lower-roman; }
.entry ol li, .c-body ol li { margin: 5px 0; }
.navigation {
	padding: 10px 0;
	font-size: 1.3em;
}
.index { padding: 0; }
.entry .photo_frame {
	background: #F0EBE6;
	margin-bottom: 10px;
	border: 2px solid #E6E1DC;
	border-width: 0 0 2px;
	font-size: 0.9em;
	font-weight: bold;
	overflow: hidden;
	width: 487px;
	padding-left: 10px;
}
.entry .photo_frame img {
	margin-left: -10px;
	/* needed to ensure the text wraps underneath */
	display: block;
}
/*Post Footer
---------------------------------------*/
.post-footer { margin-left: 131px; }
.comments a {
	display: block;
	padding: 0 0 0 17px;
	color: #b79f87;
	font-size: 1.2em;
	background: url(../images/icon-comments.png) no-repeat 0 .4em;
}
.comments a:hover {
	color: #453729;
	text-decoration: none;
}
.comments span {
	font-size: 1.3em;
	font-style: italic;
}
/*Single
---------------------------------------*/
.tags {
	float: left;
	width: 104px;
}
.tags span {
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;
	color: #beaa99;
	padding: 0 0 10px 28px;
	background: url(../images/icon-tags.png) no-repeat 0 .3em;
}
.tags p {
	font-size: 1.2em;
	line-height: 1.4em;
	color: #beaa99;
}
.tags a { color: #beaa99; }
.post-header h1 {
	margin-left: 131px;
	padding-bottom: 4px;
	font-size: 2.2em;
	}
.meta {
	border-top: 1px solid #efeae4;
	margin-top: 10px;
	padding-top: 5px;
	font-size: 1.2em;
	text-align: right;
	color: #666;
}
/*Comments
------------------------------------------------------------ */
/*Top
---------------------------------------*/
#comments {
  clear: both;
}
.comment-number {
	display: block;
	padding: 0 0 5px 0;
	font-weight: bold;
}
.comment-number span {
	font-size: 1.3em;
	color: #423c37;
}
.none { border-bottom: 1px solid #efeae4; }
a#leavecomment {
	font-size: 1.6em;
	padding-left: 2px;
}
/*Body
---------------------------------------*/
li.comment {
	padding-top: 20px;
	border-top: 1px solid #efeae4;
}
li.comment.depth-2 { margin-bottom: 10px; }
#comments ul.children {
	margin: 10px 0 0 131px;
	clear: both;
}
div.c-grav {
	float: left;
	width: 40px;
	margin: 0;
	text-align: right;
}
div.c-grav img {
	padding: 4px;
	border: 1px solid #e6e1db;
	border-right-color: #d6d1cc;
	border-bottom-color: #d6d1cc;
	background: #fff;
}
div.c-body {
	margin-left: 131px;
	width: 497px;
	font-size: 1.3em;
}
ul.children div.c-body {
	margin-left: 70px;
	width: 427px;
}
div.c-body p { margin-bottom: 10px; }
div.c-head {
	margin: 0 0 10px 0;
	font-weight: bold;
}
.c-permalink a:link, .c-permalink a:visited {
	color: #55504b;
	font-size: .7em;
}
div.reply { padding-bottom: 10px; }
div.reply a:link, div.reply a:visited { color: #beaa99; }
/*Form
---------------------------------------*/
form#commentform { margin: 0 0 20px 131px; }
#respond { font-size: 1.3em; }
h4#postcomment {
	margin: 20px 0;
	padding: 5px 0 0 0;
	color: #423c37;
	border-top: 1px solid #efeae4;
}
form#commentform label.comment-field {
	display: block;
	margin: 15px 0 3px 0;
	color: #756a60;
	font-size: 1.2em;
}
input.text-input, form#commentform textarea {
	padding: 7px;
	font-family: inherit;
	font-size: 1.1em;
	border: 1px solid #e6e1db;
	width: 477px;
}
input#author, input#email, input#url { width: 300px; }
form#commentform input#submit {
	padding: 5px;
	width: 150px;
}
form#commentform p.guidelines {
	margin: 10px 0;
	color: #555;
}
p.subscribe-to-comments, p.comments-rss { margin: 0 0 10px 0; }
p.comments-rss a {
	font-size: 1.1em;
	padding: 0 0 0 19px;
	background: url(../images/feed-icon.png) no-repeat 0 .1em;
}
fieldset { border: none; }
/*Note
---------------------------------------*/
p.note {
	font-style: italic;
	font-size: 1.3em;
}
/*Pingbacks/Trackbacks
---------------------------------------*/
h3.pinghead {
	font-size: 1.3em;
	color: #444444;
}
ol.pinglist {
	list-style-type: decimal;
	list-style-position: inside;
	margin: 0 0 10px 10px;
	font-size: 1.3em;
}
/*Pages
---------------------------------------*/
#content .entry.page {
	margin: 0;
	width: 628px;
}
h1.pagetitle, h2.pagetitle {
	border-top: 1px solid #efeae4;
	margin: 0 0 15px 0;
	padding-top: 20px;
	font-size: 2.2em;
}
/*Archives List
---------------------------------------*/
.entries ul { font-size: 1.3em; }
.entries ul li {
	line-height: 2.5em;
	border-bottom: 1px dashed #dfdad5;
}
.entries span {
	margin-right: 20px;
	color: #777;
}
/*Sidebar
------------------------------------------------------------ */
#sidebox { 
  font-size: 1.2em;
  padding: 14px;
	border: 1px solid #e6e1dc;
	background: #f0ebe6; 
}
#sidebox p {
	line-height: 1.6em;
}
#sidebox img {
	
}
h2.widgettitle {
	margin: 25px 0 10px 0;
	padding-bottom: 3px;
	font-size: 1.4em;
	border-bottom: 1px solid #dfdad5;
	color: #555;
}
ul li.widget ul { font-size: 1.2em; }
ul li.widget ul li ul {
	margin-left: 5px;
	font-size: 1em;
}
ul li.widget ul li { padding: 1px 0; }
ul li.widget ul li ul li { padding: 1px 0 0 0; }
/*Review summary
---------------------------------------*/
div.vcard {
  float: right;
  border: 1px solid #E6E1DC;
	padding-bottom: 30px;
	width: 236px;
  background: #F0EBE6;
  color: #555;
  padding: 14px;
  font-size: 1.3em;
}
div.vcard h2 {
  text-transform: uppercase;
  font-size: 1.2em;
  border-bottom: 1px solid #E6E1DC;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
div.vcard h3 {
  text-transform: uppercase;
  border-bottom: 1px solid #E6E1DC;
}
div.vcard p {
  line-height: 2;
}
div.vcard .fn {
  font-weight: bold;
  display: block;
  line-height: 2;
  font-size: 1.2em;
}
div.vcard .adr p {
  line-height: 1.5;
}
/*Adbox
---------------------------------------*/
#adbox {
	margin: 20px 0;
	padding: 3px;
	border: 1px solid #e6e1dc;
	background: #f0ebe6;
}
#adbox img { border: 1px solid #e6e1dc; }

/*Footer
------------------------------------------------------------ */
#footer {
	padding: 30px 0;
	border-top: 10px solid #ded6d4;
	background: #e7e1de;
	color: #555;
}
#footer a:link, #footer a:visited { color: #4265A7; font-weight: bold; }
#footer a:hover { text-decoration: underline; }

/*Footer Columns
---------------------------------------*/
.footer-column {
	float: left;
	margin-right: 30px;
	padding-bottom: 20px;
	color: #413f3e;
}
#footer-about.footer-column { width: 337px; }
#footer-flickr.footer-column { width: 281px; }
#footer-search.footer-column {
	margin: 0;
	float: right;
	width: 266px;
}
.footer-column h2 {
	font-size: 1.6em;
	border-bottom: 2px solid #dbd3d0;
	padding-bottom: 2px;
}
.footer-column p {
	margin: 15px 0;
	font-size: 1.2em;
	line-height: 1.5em;
}
/*Flickr
---------------------------------------*/
.flickr_badge_image {
	float: left;
	margin: 0 0 0 10px;
	padding: 0;
	line-height: 0;
}
#flickr_badge_image1.flickr_badge_image, #flickr_badge_image2.flickr_badge_image, #flickr_badge_image3.flickr_badge_image { margin: 15px 0 10px 10px; }
#flickr_badge_image1.flickr_badge_image, #flickr_badge_image4.flickr_badge_image { margin-left: 0; }
.flickr_badge_image img {
	margin: 0;
	padding: 5px;
	border: 1px solid #ccc;
	background: #f7f7f7;
	line-height: 0;
}
#footer h2.widgettitle { margin-top: 0; }
.flickr-footer {
  overflow: hidden;
}
#footer p {
  margin: 15px 0 0 0;
}
.twitter-section {
  margin-bottom: 15px;
}
/*Search
---------------------------------------*/
#search_form input.search {
	margin: 15px 0 0 0;
	padding: 5px 2px;
	width: 180px;
	border: 1px solid #ded8d5;
	background: #f3f3f3;
	color: #555;
}
.entry #search_form {
  margin-bottom: 15px;
}
#search_form input.search:focus { background: #fff; }
#search_form input#searchsubmit { margin: 0 0 0 5px; }
/*Copyright
---------------------------------------*/
#copyright {
	display: block;
	clear: both;
	padding-top: 1px;
	font-size: 1.1em;
	border-top: 2px solid #dbd3d0;
}
#copyright a:link, #copyright a:visited {
	border-bottom: 1px dotted;
	text-decoration: none;
}
#copyright a:hover {
	border-bottom: 1px solid;
	text-decoration: none;
}
/*Miscellaneous
---------------------------------------*/
img.border {
	padding: 14px;
	border: 1px solid #e6e1dc;
	background: #f0ebe6;
}
.entry .alignright { margin: 0 0 10px 15px; }
.entry .alignleft { margin: 0 15px 10px 0; }
/*Image gallery
---------------------------------------*/
#images {
  float: right;
  padding: 14px;
  width: 240px;
  border: 1px solid #e6e1dc;
  background: #f0ebe6;
  margin-left: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  zoom: 1;
}
.active {
  position: relative;
}
#images p {
  margin-bottom: 0;
}
#images img {
  display: block;
  padding-bottom: 6px;
  margin: 0 auto;
}
#images a {
  display: block;
  float: right;
}
.active a {
  background: transparent url(../images/ajax-loader.gif) 0 3px no-repeat;
  padding-left: 24px;
}
#food_gallery {
  margin: 0;
  overflow: hidden;
  zoom: 1;
  width: 240px;
}
#food_gallery li {
  background: none;
  margin: 0;
  padding: 0;
  width: 240px;
  float: left;
  display: none;
}
#food_legend {
  float: right;
  text-align: right;
}
#food_legend span {
  font-weight: bold;
}
#food_legend a {
	background: none;
}
#food_legend .f {
	color: #0064df;
}
#food_legend .f span {
	color: #ff0086;
}
#images button {
  position: absolute;
  top: 7px;
  left: 0px;
  height: 194px;
  /* width needed for IE otherwise buttons go 100% width */
  width: 31px;
  border: 2px solid #E6E1DC;
  background: #F0EBE6;
}
#images button:hover {
  cursor: pointer;
  background: #F9F7F5;
}
#images #prev {
  border-left: 0;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
#images #next {
  right: 0;
  left: auto;
  border-right: 0;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#images button span {
  position: absolute;
  left: -9999em;
}
/* CUSTOM TWEET BUTTON from http://github.com/necolas/custom-tweet-button-for-wordpress
-------------------------------------------------------------- */

.twitter-share {
    overflow:hidden;
    font:bold 12px/1.5 Arial, sans-serif;
    zoom:1 /* trigger hasLayout in IE < 8 (move to conditional stylesheet) */
}

/* The link to twitter */

.twitter-button {
    float:left;
    position:relative;
    width:55px;
    height:20px;
    overflow:hidden;
    text-indent:-9000px;
    background:url(../images/tweet.png);
}

.twitter-button:hover,
.twitter-button:focus {
    background-position:0 -20px;
}

.twitter-button:active {
    background-position:0 -40px;
}

/* The count display */

.twitter-count {
    position:relative;
    float:left; 
    height:18px; 
    padding:0 6px; 
    border:1px solid #cbe3f2;
    margin:0 0 0 7px; 
    line-height:18px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
}

/* The count tooltip. Not displayed in IE < 8 */

.twitter-count:before,
.twitter-count:after {
    content:"";
    position:absolute;
    top:50%; 
    left:0;
    border-width:5px 5px 5px 0;
    border-style:solid;
    border-color:transparent #cbe3f2 transparent;
    margin:-5px 3px 0 -5px;
    display:inline-block; /* For Firefox 3.0 */
}

.twitter-count:after {
    left:-3px; 
    border-width:3px 3px 3px 0; 
    border-right-color:#fff; 
    margin:-3px 0 0 0;
}

/* quest_list - currently used on the burrito page */
.entry .quest_list {
    list-style-type: none;
    margin: 5px 0; 
}
.entry .quest_list li {
    margin: 0;
    position: relative;
    padding-left: 40px;
    padding-right: 116px;
}
.quest_list li .rank {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2em;
}
.quest_list h3 {
    padding-top: 22px;
}
.quest_list .rank span {
    font-size: 0.8em;
}
.quest_list .adr {
    margin-bottom: 0;
}
.quest_list img {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #E6E1DC;
    background: #F0EBE6;
    padding: 7px;
}
#most-wanted li {
    background: none;
    padding: 0;
}
#most-wanted a {
    display: block;
	width: auto;
}
/* Burrito review page */
.burrito .description,
.category-london-burritos .entry {
    position: relative;
    min-height: 152px;
}
.burrito .description p,
.category-london-burritos .entry p {
    margin-left: 126px;
}
.category-london-burritos .entry .cta {
    margin-left: 0;
    font-size: 1.2em;
}
.burrito img,
.category-london-burritos .entry img {
    position: absolute;
    top: 0;
    left: 0;
    padding: 7px;
    border: 1px solid #E6E1DC;
    background: #F0EBE6;
}
.burrito .announce {
    padding: 10px;
    background: #F0EBE6;
    border: 1px solid #E6E1DC; 
    margin-bottom: 10px;   
}
.burrito .announce p {
    margin-left: 0;
}
.review_list {
    background: #E7E1DE;
    font-size: 22px; 
    list-style-type: none !important; 
    margin: 0 !important; 
}
.review_list h2 {
    color: #413F3E;
    font-weight: bold;
    padding-left: 10px;
    font-size: 20px;
}
.review_list h2 span {
    font-size: 14px;
    font-weight: normal;
}
.review_list ul { 
    background: #F9F7F5;
    font-size: 13px;
    list-style-type: none;
    margin: 0;
    padding-bottom: 1em;
}
.review_list .vcard { 
    background: none;
    padding-left: 0;
    position: relative;
    padding-left: 130px;
}
.review_list .vcard .summary {
    float: left;
    margin-right: 10px;
}
.review_list .vcard h3 { 
    font-size: 16px; 
    padding-top: 1em;
}
.review_list .vcard .adr p {
    margin-bottom: 0;
}
.review_list img { 
    background: #FFFFFF; 
    border: 1px solid #EBEBEB; 
    left: 0; 
    margin-right: 16px; 
    padding: 8px 8px 24px;
    position: absolute; 
    top: -2px;
    /* rotate the box */
    -webkit-transform: rotate(-9deg);
    -moz-transform: rotate(-9deg);
    -o-transform: rotate(-9deg);
    transform: rotate(-9deg);
    /* box shadow */
    -webkit-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
    -moz-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
    -o-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
    box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
}
.review_list .date {
    margin-top: 0.5em;
    padding-top: 1em;
    border-top: 1px solid #DBD3D0;
    line-height: 1;
}
.alert {
    padding: 8px 14px;
    margin-bottom: 18px;
    background: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-boirder-radius: 4px;
    border-radius: 4px;
}
.review_list .alert {
    margin-top: 0.5em;
}
